html, body {
    height: 100%;
    width: 100%;
}

.cabecera-roja {
    background-color: red;
    font-weight: bold;
}

.cabecera-amarilla {
    background-color: yellow;
    font-weight: bold;
}

.espacio-centro {
    background-color: gray;
    
}

.foot1 {
    background-color: green;
}

.foot2 {
    background-color: cornflowerblue;
}

.foot3 {
    background-color: green;
}